{% extends 'paginas/modelo.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>
<body>
    {% block conteudo %}
    
    <h1 style = "text-align:center; color:blue";> Cuidados Extras</h1>
   
        
    
    <p> Porquinhos da India
       
        
        Os porquinhos da india são animais de estimação muito fofos e comilões, mas eles 
        requerem um cuidado a mais. 
        Antes de adotar o animalzinho, é preciso reservar um cantinho onde ele vai ficar, 
        lembrando que é preciso ter muito espaço e ocorrer circulação do vento.
        O cercado deve ser forrado com o tecido soft ou com os 
        granulados especifico para roedores, pois eles evitam o odor do xixi.
            A alimentação do porquinho é composto por:
        <ul>
            <li>Legumes</li>
            <li>Frutas</li>
            <li>Ração</li>
        </ul>
            Deve ter cuidado com que tipo de legume e fruta se dá a ele, pois dependendo 
        do que foi ingerido o porquinho passa a ter maus cheiros. Além da alimentação
        os porquinhos precisam ingerir um vitamina adequada, pois eles não produzem. Antes 
        de comprar é indicado que procure um vetérinario. 
        

       
       <img src="{% static 'imagens/diagramaclasses.png' %}" alt= "Diagrama de Classe" width="600" height="450" style="margin: 15px;"> 
        <img src="{% static 'imagens/casodeuso.png' %}" alt= "Diagrama de Classe de uso" width="600" height="450" style="margin: 15px;"> 
        

        
    </p>

    {% endblock %}

</body>
</html>